.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px; /* space for navbar */
  background-color: #f2f2f2;
}

.Login-form {
  background: #ffffff;
  padding: 30px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Login-form h2 {
  margin-bottom: 20px;
}

.Login-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.Login-form button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.Login-form button:hover {
  background: #0056b3;
}

.message {
  margin-top: 10px;
}