body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 25px;
  margin-top: 30px;
  color : yellow;
}

.card {
  background: #1f1f1f;
  padding: 15px;
  border-radius: 10px;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.05);
  background: #2a2a2a;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.Home
{
  background-color: #eae7e7;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.games-title
{
  color: yellowgreen;
  position:relative;
  top: 0px;
  left: -130px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 45px;
}


